<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>打包</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center">

<div class="btn-group">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-default" name="startpackage" onclick="window.location.href='/startallpackage'">
        打包全部
    </button>
    <button type="button" class="btn btn-default" name="startpackage" onclick="window.location.href='/startpackagedss'">
        打包DSS
    </button>
    <button type="button" class="btn btn-default" name="startpackage"
            onclick="window.location.href='/startpackagelinkis'">打包Linkis
    </button>
    <button type="button" class="btn btn-default" name="startpackage"
            onclick="window.location.href='/startpackagedatav'">打包DataV
    </button><button type="button" class="btn btn-default" name="startpackage"
            onclick="window.location.href='/test'">打包test
    </button>
</div>
<div>
    <br>
    <br>
    <button type="button" class="btn btn-default" name="startpackage" onclick="window.location.href='ftp://192.168.10.181/'">直接去下载页</button>
</div>
</body>
</html>
